body {
    font-family:Arial, sans-serif ;
    max-width :500px; ;
    margin: 20px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px ;

}
label {
    display: block;
    margin-top:15 px ;
}
input, select {
    width:100%;
    padding: 8px; ;
    margin: top 5px; ;
    border: 5px;;
    border-radius: 1 px solid #999;
}
button {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color:#007bff ;
    color: white ;
    border:none ;
    border-radius: 5px;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}